FFHQ/*
FFHQ

FFHQ_NoBGR
FFHQ_NoBGR/*

PennFudanPed
PennFudanPed/*

.ipynb_checkpoints
.ipynb_checkpoints/*

model/__pycache__
model/__pycache__/*

model/.ipynb_checkpoints/
model/.ipynb_checkpoints/*

model/models/*